
{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
        <input type="checkbox" checked autocomplete="off"> {{ button_label|default('Publier') }}
    </label>
</div>
{{ form_end(form) }}
