{% extends 'back.html.twig' %}






{% block body4 %}
<h1>Modifier le question</h1>

{{ include('question/_formback.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('question_index_back') }}">Afficher les questions</a>

{{ include('question/_delete_back.html.twig') }}


{% endblock %}

{% block body5 %}
{% endblock %}