{% extends 'base.html.twig' %}
{% block body1 %}
{% endblock %}

{% block body2 %}
{% endblock %}

{% block body3 %}
    <br>
    <br>
    <br>
    <h1>Ajouter une question</h1>

    {{ include('question/_form.html.twig') }}
{#
    <a href="{{ path('question_index',{'idcategorie': idcategorie }) }}">Afficher les questions</a> #}

{% endblock %}

{% block body4 %}
{% endblock %}

{% block body5 %}
{% endblock %}




{% block body6 %}
{% endblock %}
