{% extends 'baseback.html.twig' %}

{% block body %}
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">

                    <div class="listing_img">
                        {% for image in produit.images %}<img src="{{ asset('uploads/'~image.name) }}" style="width: 150px">{% endfor %}
                    </div>
                </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">{{ produit.nomProd }}</h3>

                    <p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">TND </span><span class="num">{{ produit.prixProd }}</span>
	</span>

                    </p> <!-- price-detail-wrap .// -->
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd><p>{{ produit.descriptionProd }}</p></dd>
                    </dl>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="param param-inline">
                                <dt>Quantity: </dt>
                                <dd>
                                    <select class="form-control form-control-sm" style="width:70px;">
                                        <option> 1 </option>
                                        <option> 2 </option>
                                        <option> 3 </option>
                                    </select>
                                </dd>
                            </dl>  <!-- item-property .// -->
                        </div> <!-- col.// -->

                    </div> <!-- row.// -->
                    <hr>
                    <a href="#" class="btn1 btn-lg btn-primary text-uppercase"> Buy now </a>
                    <a href="#" class="btn1 btn-lg btn-outline-primary text-uppercase" style="margin-left: 20px"> <i class="fa fa-shopping-cart"></i> Add to cart </a>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
{% endblock %}