{% extends 'base.html.twig' %}

{% block body1 %}
    <br>
    <br>
    <br>
    <br>
    <h3>Your Order </h3>
{% endblock %}

{% block Mahmoud %}
{% endblock %}


{% block body2 %}

{% endblock %}

{% block body3 %}


    {{ include('commande/_form.html.twig') }}

{% endblock %}
