<form method="post" action="{{ path('gmusee_delete', {'id': gmusee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gmusee.id) }}">
    <button class="btn"class="button red"><i class="fa fa-trash-o"></i> Delete</button>
</form>
