{% extends 'base2.html.twig' %}
{% block title %}Gmusee index{% endblock %}


{% block body %}




    <section id="inner_pages">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <article class="col-md-12 article_wrap">
                        <div class="post-thumbnail">
                            <a href=""><img src="assets/images/post_6.jpg" alt="image"></a>
                        </div>
                        <div class="entry-desc">
                            <h3><a href="blog-single.html"></a></h3>
                            <div class="entry_meta">
                                <span class="meta_m"><i class="fa fa-eye"></i> 48 Views</span>
                                <span class="meta_m"><i class="fa fa-heart-o"></i> <a href="#">4 Likes</a></span>
                            </div>
                            <div class="entry-content">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                            </div>
                            <a href="blog-single.html" class="read_btn">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </article>


            <aside class="col-md-4">
                <div class="sidebar">
                    <div class="sidebar_widgets">
                        <div class="widget_title">
                            <h4>Categories</h4>
                        </div>
                        <ul>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Health & Care</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Interior</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>

                    <div class="sidebar_widgets">
                        <div class="widget_title">
                            <h4>Featured Posts</h4>
                        </div>
                        <div class="featured_posts">
                            <div class="thubb_img">
                                <a href="#"><img src="assets/images/385x289.jpg" alt="image"></a>
                            </div>
                            <div class="info_m">
                                <h6><a href="#">At vero eos et accusamus</a></h6>
                                <p><span class="meta_m"><i class="fa fa-clock-o"></i> 20 May 2017</span></p>
                            </div>
                        </div>




                    </div>

                </div>
            </aside>
        </div>
    </div>
</section>

{% endblock %}